:root {
  --bg-color-primary: #202124;
  --text-color-primary: #E8EAED;
}

.wrapper {
  padding: 2rem;
}

.form {
  text-align: center;
}

.form > input {
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  border: 0.1rem solid var(--text-color-primary);
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-right: none;
}

.form > button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid var(--text-color-primary);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  cursor: pointer;
}