/* || FORM */

.wrapper {
  padding: 2rem;
}

.form {
  text-align: center;
  margin: 2rem 0;
}

.form > input {
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  border: 0.1rem solid var(--text-color-primary);
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-right: none;
}

.form > button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid var(--text-color-primary);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  cursor: pointer;
}

/* || DISPLAY GRID */

.grid-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}

.grid-item {
  padding: 1rem;
  border: 0.1rem solid var(--text-color-primary);
  word-wrap: break-word;
  border-bottom-right-radius: 1rem;
  position: relative;
}

.item-btn {
  border-radius: 50%;
  border: 0.1rem solid var(--text-color-primary);
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  height: 1.5rem;
  width: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close {
  position: absolute;
  right: -0.6rem;
  top: -0.8rem;
}

.date {
  position: absolute;
  right: 1.5rem;
  top: -0.65rem;
  padding: 0 0.2rem;
  border: 0.1rem solid var(--text-color-primary);
  background-color: var(--bg-color-primary);
}

.user-msg {
  font-size: 2rem;
  grid-column: span 3;
  justify-self: center;
  text-align: center;
}