:root {
  --bg-color-primary: #202124;
  --text-color-primary: #E8EAED;
}

.header {
  padding: 0.5rem 1rem;
  border-bottom: 0.1rem solid var(--text-color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header a {
  color: var(--text-color-primary); 
}