:root {
  --bg-color-primary: #202124;
  --text-color-primary: #E8EAED;
}

.App {
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  height: 100vh;
  text-align: center;
}